@charset "utf-8";

/* ------------------------------

  body

------------------------------ */
body {
    padding-top: 40px;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 180px auto;
}

.form-control {
    margin-bottom: 10px;
}

