@charset "utf-8";

/* ------------------------------
  common
------------------------------ */
.cf:after {
    content: '';
    display: #F1F7FF;
    clear: both;
}
.inner {
  width: 900px;
  margin: 0 auto;
}
/* ------------------------------
  body
------------------------------ */
body {
  padding-bottom: 70px;
}
/* ------------------------------
  header
------------------------------ */
.header {
  background-color: #4A4A4A;
}

.header-navi {
  position: left;
}

.header-title {
  text-decoration: none;
}

.display: {
  float: right;

}

/* ------------------------------
  main
------------------------------ */
.part-form {
  text-align: center;
  padding-top:109px;
  padding-bottom:20px;
  font-size:15px;
}

.button-group {
  margin: 0 auto;
  width: 500px;
}

.wait-button-group {
  background-color: #909090;
}

.wait-button {
  float: left;
  margin-right: 20px;
  margin-bottom:20px;
  border-radius: 10px;
  display:table;
  width: 80%;
  height: 200px;
  background-color: #4A90E2;
  text-align: center;
/*   vertical-align: middlel; */
}

.wait-button > a {
  display:table-cell;
  color: #fff;
  font-size:30px;
  text-decoration:none;
  vertical-align:middle;
}

.wait-count-group-title {
  text-align: center; 
  padding-top:20px;
  height:90px;
  font-size:15px;
  color:#4A4A4A;
}

.wait-count {
  text-align: center; 
  margin-bottom:20px;
  height:150px;
  font-size:40px;
  color:#4A4A4A;
}

.wait-count-group {
  margin-bottom:20px;
  float:left;
  width:16%;
  height:200px;
  border: 2px solid #4A4A4A;
  border-radius: 10px;
}

.finish-button {
  margin-top: 20px;
  height:100px;
  width:100%;
  border: 1px solid #4A4A4A;
  border-radius: 10px;
  display:table;
  background-color: #4A4A4A;
  text-align: center;
}

.finish-button > a{
  display:table-cell;
  height:100px;
  color: #fff;
  font-size:30px;
  text-decoration:none;
  vertical-align:middle;
}

.your-ranking {
  text-align: right;
  padding-right:20px;
}